
.normal {
  font-family: Georgia, sans-serif;
  margin-top: 3em;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
}

.welcome {
  height: 328px;
  background: url(../../assets/yay.jpg) no-repeat center 0;
  background-size: 388px 328px;
}

.list {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}
.test{
  background: #f7f7f7;
}
.row24{
  background:red;
}
.row12{
  background:green;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}
.box{
  /*background-color: #364d79;*/
  /*height:100%;*/
  /*padding: 20px;*/
}
.box Carousel div{
  /*height:300px;*/
}
img{
  width:100%;
  height:500px;
}
h3{
  color:red;
  font-size: 52px;
}
